{% extends "base2.html" %}
{% block content %}
<div class="jumbotron">
<h2> Welcome to Password check</h2>
<h3> Let's see if your password is secure!</h3>
<h3> Fill out the form below with a Username and Password that has three restraints</h3>
    <h4>
        <ol>
            <li>Must have an upper case letter some where</li>
            <li>Must have an lower case letter some where</li>
            <li>Must have a number at the end</li>
        </ol>
    </h4>
    <form action="{{url_for('password_submit')}}">

        <label for="username"> Username :</label>
        <input type="username" name="username">

        <label for="password">Password :</label>
        <input type="password" name="password">

    <input type="submit" value="Submit Form">
    </form>
</div>
{% endblock %}