{% extends "base2.html" %}
{% block content %}
<div class="jumbotron">
    <h3>Lets see if your password met the requirements</h3>
    <br>
    {% if errors |length > 0 %}
        <h2> oh! no! Looks like you had issues with your password </h2>
        <h3> Here are the requirements you failed </h3>
        <ul>
         {% for p in errors %}
        <li> {{ p }} </li>
        {% endfor %}
        </ul>
    {% else %}
        <h3> You passed all the 3 requirements </h3>
    {% endif %}
</div>
{% endblock %}
