{% extends "base2.html" %}
{% block content %}
<div class="jumbotron">
<h3>Lets see if your password met the requirements</h3>
<br>
{% for p in errors %}
<p>{{ p }}</p>
{% endfor %}
</div>
{% endblock %}
